@page

@{
    ViewData["Title"] = "Success";
    Layout = "_Layout";
}
 
<div class="container mt-5">
<div class="alert alert-success" role="alert">
<h4 class="alert-heading">Success!</h4>
<p>Marked attendence successfully.</p>
<hr>
</div>
<a href="/" class="btn btn-primary">Go Home</a>
</div>
 

