@page
@model MYChamp.Pages.Positions.CreateModel
@{
    ViewData["Title"] = "Create Position";
}

<h2 class="pt-5 text-center">Add Position</h2>

<form method="post" class="container-fluid col-lg-10">
    <div class="form-floating mb-3">
        <input asp-for="Position.Name" class="form-control" id="positionName" placeholder="Position Name" />
        <label for="positionName">Position Name</label>
        <span asp-validation-for="Position.Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Position.AllottedLeaves" class="form-control" id="allottedLeaves" placeholder="Allotted Leaves" />
        <label for="allottedLeaves">Allotted Leaves</label>
        <span asp-validation-for="Position.AllottedLeaves" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary mt-2" />
        <a asp-page="./Index" class="btn btn-secondary mt-2">Cancel</a>
    </div>
</form>
